/* My portfolio website. 👋 Background color is dark grey header text color is light blue. h2 has grey text and white background. */
:root {
  --lightestColor: #ffffff;
  --secondLightest: #ffcdb2;
  --neutralLight: #ffb4a2;
  --neutralDark: #e5989b;
  --secondDarkest: #b5838d;
  --darkestColor: #6d6875;
}

body {
  background-color: var(--darkestColor) !important;
  color: var(--lightestColor) !important;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--secondLightest) !important;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  background-color: var(--secondDarkest) !important;
  color: var(--lightestColor) !important;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  color: var(--secondLightest) !important;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

p {
  color: var(--lightestColor) !important;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--secondLightest) !important;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

/* Path: src\components\assets\css\style.css */
