/* My portfolio website. 👋 Background color is dark grey header text color is light blue. h2 has grey text and white background. */
:root {
  --lightestColor: #ffffff;
  --secondLightest: #ffcdb2;
  --neutralLight: #ffb4a2;
  --neutralDark: #e5989b;
  --secondDarkest: #b5838d;
  --darkestColor: #6d6875;
}

body {
  background-color: var(--darkestColor) !important;
  color: var(--secondLightest) !important;
  font-family: "Roboto", sans-serif;
}
main {
  background-color: var(--darkestColor) !important;
  color: var(--secondLightest) !important;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--secondLightest) !important;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  display: flex;
  border-radius: 0px 5px 5px 0px;
}

h2 {
  background-color: var(--secondDarkest) !important;
  color: var(--darkestColor) !important;
  width: 25vw;
  height: fit-content;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  border-radius: 0px 5px 5px 0px;
  padding: 2px !important;
}

h3 {
  color: var(--secondLightest) !important;
  font-size: 4rem;
  font-weight: 700;
  margin: 10px;
  display: flex;
}

section {
  display: flex;
}
p {
  color: var(--neutralLight) !important;
  font-weight: 400;
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  width: 40vw;
}

a {
  color: var(--secondLightest) !important;
  background-color: var(--secondDarkest) !important;
  border-color: var(---neutralDark) !important;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
/* on hover */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a:focus {
  color: var(--neutralDark) !important;
  background-color: var(--secondLightest) !important;
  border-color: var(---neutralDark) !important;
}
a:active {
  color: var(--neutralDark) !important;
  background-color: var(--secondLightest) !important;
  border-color: var(---neutralDark) !important;
}
a:hover {
  color: var(--darkestColor) !important;
  background-color: var(--secondDarkest) !important;
  border-color: var(---neutralDark) !important;
}

.customWord {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 90% !important;
}
/* media queries */

@media screen and (max-width: 990px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    width: 80vw;
  }
  img {
    width: 80%;
  }
  .customNavTabs {
    justify-content: normal !important;
    width: fill-available !important;
  }
  .nav-link {
    border-radius: 0px !important;
    background-color: var(--darkestColor) !important;
    width: fill-available !important;
  }
  a {
    border-radius: 0px !important;
    background-color: var(--darkestColor) !important;
    color: var(--neutralDark) !important;
    width: 100% !important;
    border-color: var(--secondDarkest) !important;
    font-size: smaller !important;
    width: fill-available !important;
  }
  .navTabs{

    width: fill-available !important;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    width: 70vw;
  }
  img {
    width: 80%;
  }
  .boxStyles {
    height: 70vh !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    width: 75vw;
  }
  img {
    width: 80%;
  }
  .react-reveal {
    font-size: 1.5rem !important;
  }
  .boxStyles {
    height: 50vh !important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    width: 65vw;
  }
  img {
    width: 80%;
  }
  .card {
    max-width: 15rem !important;
    min-width: 15rem !important;
  }
  .react-reveal {
    font-size: 1.5rem !important;
  }
  .boxStyles {
    height: 40vh !important;
  }
}
/* Path: src\components\assets\css\style.css */
